body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.pa-5 {
  padding: 10em 5em;
}
/*



============================
Front Section
============================ 




*/

nav {
  height: 4em;

  display: flex;
}

nav a {
  text-decoration: none;
}

.nav-left {
  width: 50%;

  padding-left: 10em;
  display: flex;
  align-items: flex-end;
}
.nav-left i {
  color: #c0c0c0;
  cursor: pointer;
  margin-right: 1.5em;
}

.nav-left i:hover {
  color: black;
}

/* .nav-left a {
  text-decoration: none;
  color: #4c40f7;
}

.nav-left a:hover {
  color: black;
} */

.nav-right {
  width: 50%;

  position: relative;
}

.nav-right ul {
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 10em;
  bottom: -17px;
}

.nav-right li {
  cursor: pointer;
  margin-right: 1.5em;
  color: #c0c0c0;
}

.nav-right li:hover {
  color: black;
}

.nav-right span {
  color: #4c40f7;
}

.nav-right span:hover {
  color: black;
}

.front-section {
  display: flex;
  width: 100%;
  height: 800px;
}

.left {
  width: 65%;
  padding: 2em 0 2em 10em;
}

.right {
  width: 35%;
  position: relative;
}

.right img {
  position: absolute;
  left: 20px;
  top: 100px;
}

.heading-wrapper {
  padding: 5em 0 5em 0;
}

.line {
  position: relative;
  margin-bottom: 24px;
  padding-left: 68px;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 600;
  color: #4c40f7;
}
.line:before {
  top: 10px;
}
.line:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 5px;
  width: 50px;
  height: 2px;
  background: #4c40f7;
}

.main-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1300px) {
  .main-title {
    font-size: 2rem;
    width: 18em;
  }

  .right img {
    left: 0;
  }
}

@media only screen and (max-width: 1124px) {
  .left {
    padding: 2em 0 2em 5em;
  }
}

@media only screen and (max-width: 992px) {
  .right img {
    width: 17em;
    height: 30em;
  }
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
  }
  .right {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .right {
    display: none;
  }

  .left {
    width: 80%;
    padding: 1em;
  }

  .main-title {
    font-size: 1.6rem;
  }

  .front-section {
    padding: 2em;
    height: 550px;
  }
}

@media only screen and (max-width: 500px) {
  .main-title {
    font-size: 1.3rem;
  }
}
/*





============================
About Section
============================ 






*/

.about-section {
  width: 100%;
  color: white;
}

.about-bg {
  background-color: #1a1d88;
}

.about-content {
  padding: 10em 10em 0 10em;
  position: relative;
  border: 1px solid black;
}

.pink-line {
  position: relative;
  margin-bottom: 24px;
  padding-left: 68px;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 600;
  color: #ffc6ea;
}
.pink-line:before {
  top: 10px;
}
.pink-line:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 5px;
  width: 50px;
  height: 2px;
  background: #ffc6ea;
}

.about-content h2 {
  margin-bottom: 2em;
  font-size: 1.2rem;
}

.about-content h1 {
  font-size: 4.5rem;
  word-spacing: 0.2em;
  padding: -20px 0 -10px 0;
}

.img-right {
  position: absolute;
  bottom: -9px;
  right: 10%;
}

.img-right img {
  height: 300px;
  width: 500px;
}

.skills-bg {
  padding: 2em 10em 2em 10em;
  background-color: #282ed4;
  box-shadow: 2px 4px 21px -1px #000000;
}

.skills-container {
  display: flex;
  justify-content: space-around;
}

.skills-container img {
  margin-right: 2em;
  margin-bottom: 2em;
}

.icon {
  height: 80px;
  width: 80px;
}

.white-bg-icon {
  padding: 8px;
  background-color: white;
}

@media (max-width: 1326px) {
  .img-right {
    right: 5%;
  }
  .img-right img {
    height: 250px;
    width: 450px;
  }
  .skills-bg {
    padding: 2em 5em 2em 5em;
  }
}

@media only screen and (max-width: 1200px) {
  .about-content {
    padding: 5em 5em 0 5em;
  }

  .about-content h2 {
    margin-bottom: 2em;
    font-size: 1.2rem;
  }

  .about-content h1 {
    font-size: 3.5rem;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .white-bg-icon {
    padding: 5px;
  }

  .skills-container img {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 992px) {
  .img-right {
    right: 2%;
  }
  .img-right img {
    height: 200px;
    width: 400px;
  }
}

@media only screen and (max-width: 920px) {
  .about-content h1 {
    font-size: 3rem;
  }
  .skills-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 860px) {
  .img-right img {
    height: 200px;
    width: 350px;
  }
}

@media only screen and (max-width: 786px) {
  .img-right {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .about-content {
    padding: 5em 2em 0 2em;
  }

  .img-right {
    display: none;
  }
}
/*





============================
Offer Section
============================ 






*/

.offer-section {
  width: 100%;
  height: 100%;
  padding: 10em;
  font-size: 1rem;
}

.offer-content {
  width: 100%;
  display: flex;
  margin-top: 2em;
}

.card {
  padding: 2em;
  width: 40%;
  height: 38em;
  margin-right: 2em;
  border-radius: 2em;
}

.card:hover {
  box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.18);
}

.card img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 20%;
  left: 20%;
}

.img-container {
  margin-bottom: 2em;
}

.img-bg {
  margin: auto;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  position: relative;
}

#img-program {
  background-color: #6792bf;
}

#img-learn {
  background-color: #b691ff;
}

#img-attitude {
  background-color: #fff675;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .img-bg {
    height: 12em;
    width: 12em;
  }

  .card img {
    height: 100px;
    width: 100px;
    top: 25%;
    left: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  .card img {
    top: 3em;
    left: 3em;
  }

  .offer-section {
    padding: 5em;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    height: 35em;
    font-size: 0.725rem;
  }

  .card img {
    width: 70px;
    height: 70px;
    top: 22%;
    left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .offer-section {
    padding: 5em 2em;
  }
  .img-bg {
    height: 9em;
    width: 9em;
  }

  .card img {
    height: 60px;
    width: 60px;
    top: 20%;
    left: 20%;
  }

  .card {
    padding: 1em;
    margin-right: 0.5em;
    width: 40%;
    height: 38em;
  }
}

@media only screen and (max-width: 640px) {
  .offer-content {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 20em;
    margin-bottom: 2em;
  }

  .card:hover {
    box-shadow: none;
  }
}
/*





============================
Project Section
============================ 






*/

.proj-section {
  width: 100%;
  background-color: rgb(241, 241, 241);
}

.proj-content {
  margin-top: 2em;
}

.proj-container {
  position: relative;
  margin-bottom: 12em;
}

.proj-info-container {
  background-color: #1a1d88;
  color: white;
  width: 60%;
  height: 30em;
  padding: 2em;
}

.proj-info {
  width: 65%;
  height: 100%;
  position: relative;
}

.proj-info h1 {
  color: #ffc6ea;
  margin: 0;
}

.proj-info a {
  color: white;
}

.proj-info a:hover {
  color: #ffc6ea;
}

.proj-info h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
}

.code-btn {
  padding: 0.5em;
  border-radius: 1em;
  border: 1px solid #ffc6ea;
  background-color: transparent;
  color: white;
}

.code-btn:hover {
  border: 1px solid #ffc6ea;
  background-color: #ffc6ea;
  color: #1a1d88;
  cursor: pointer;
}

.code-btn:focus {
  outline: none;
}

.tech-used {
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 20px;
  justify-content: space-around;
  padding: 1em;
}
.tech-used img {
  width: 30px;
  height: 30px;
}

.proj-preview {
  background: #ffbffd;
  background: linear-gradient(135deg, #ffbffd 0%, #ac63ff 100%);
  width: 58%;
  height: 30em;
  position: absolute;
  top: 2.4em;
  left: 42%;
  z-index: 1;
  padding: 1em;
}

@media only screen and (max-width: 1438px) {
  .proj-info p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .proj-info p {
    font-size: 0.8rem;
  }

  .proj-preview {
    height: 25em;
  }
}

@media only screen and (max-width: 1100px) {
  .proj-info h1 {
    font-size: 1rem;
  }
  .proj-info p {
    font-size: 0.7rem;
  }

  .proj-info-container {
    height: 25em;
  }

  .tech-used {
    padding: 5px;
    border-radius: 10px;
  }

  .tech-used img {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .proj-preview {
    height: 20em;
  }
  .pa-5 {
    padding: 5em 2em;
  }
}

@media only screen and (max-width: 768px) {
  .proj-info h1 {
    font-size: 1.2rem;
  }
  .proj-info p {
    font-size: 1rem;
  }

  .proj-preview {
    position: unset;
    width: 100%;
    height: 22em;
  }

  .proj-container {
    margin-bottom: 2em;
  }

  .proj-info-container {
    width: 100%;
    height: 28em;
  }

  .proj-info {
    width: 100%;
  }

  .tech-used {
    padding: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .proj-info h1 {
    font-size: 1rem;
  }
  .proj-info p {
    font-size: 0.8rem;
  }

  .proj-preview {
    height: 16.5em;
  }

  .code-btn {
    font-size: 1rem;
  }
}
/*





============================
Contact Section
============================ 






*/

.contact-section {
  width: inherit;
  padding: 10em;
}

.contact-title-container {
  margin-bottom: 3em;
}

.contact-title-container h1 {
  font-size: 4.5rem;
  margin-top: 10px;
  margin-bottom: -15px;
}

#contact-text {
  margin-top: 2em;
}

.contact-info-container {
  display: flex;
}
.contact-info-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: 50%;
  color: #4c40f7;
}

.contact-info-content i {
  width: 20px;
  margin-bottom: 3em;
  margin-right: 3em;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 50%;
  color: #797979;
}

.input-wrapper {
  position: relative;
  height: 3em;
  margin-bottom: 1em;
}

.input-wrapper input {
  padding: 1em 1em 1em 5em;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #f6f6f6;
  border: none;
}

.input-wrapper input::placeholder {
  color: #4c40f7;
}

.input-wrapper input:focus,
.input-wrapper i {
  outline: 0;
  background-color: white;
  color: #4c40f7;
}

.input-wrapper input:focus {
  border: 3px solid #4c40f7;
}

.input-wrapper input:focus::placeholder {
  color: #4c40f7;
}
.input-wrapper i {
  position: absolute;
  top: 25px;
  left: 28px;
}

.input-wrapper-textarea {
  height: 10em;
}
.input-wrapper textarea {
  padding: 1.8em 1em 1em 5em;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #f6f6f6;
  border: none;
}

.input-wrapper textarea:focus {
  outline: 0;
  background-color: white;
  color: #4c40f7;
  border: 3px solid #4c40f7;
}

.input-wrapper textarea::placeholder {
  color: #4c40f7;
}
.input-wrapper textarea:focus::placeholder {
  color: #4c40f7;
}
.input-wrapper-textarea i {
  top: 20px;
}

.form-btn {
  border: 3px solid #4c40f7;
  border-radius: 1em;
  background-color: transparent;
  color: #4c40f7;
  padding: 1em;
}

.form-btn:hover {
  background-color: #4c40f7;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .contact-info-content {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-section {
    padding: 5em;
  }
}
@media only screen and (max-width: 768px) {
  .contact-title-container h1 {
    font-size: 3rem;
  }
  .contact-info-content {
    font-size: 0.6rem;
  }
  .contact-form-container {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .contact-section {
    padding: 5em 2em;
  }

  .contact-info-container {
    flex-direction: column;
  }

  .contact-info-content {
    width: 100%;
    margin-bottom: 1em;
    font-size: 0.9rem;
  }

  .contact-form-container {
    width: 100%;
  }
}
/* 





=====================
TOOLTIP
=====================





*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffc6ea;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 38%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffc6ea transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-sm {
  position: relative;
  display: inline-block;
}

.tooltip-sm .tooltip-sm-text {
  font-size: 12px;
  visibility: hidden;
  width: 80px;
  background-color: #ffc6ea;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 118%;
  left: 5%;
  margin-left: -25px;
}

.tooltip-sm .tooltip-sm-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffc6ea transparent transparent transparent;
}

.tooltip-sm:hover .tooltip-sm-text {
  visibility: visible;
}
